@* @model List<ObjetoEscuelaBase> *@

<table class="table table-primary table-hover table-sm">
    <thead>
        <tr>
            <th scope="col" class="text-center bg-primary">Nombre</th>
            <th scope="col" class="text-center bg-warning">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td class="text-center">@obj.Nombre</td>
                <td class="text-center">@obj.UniqueId</td>
            </tr>
        }

    </tbody>
</table>