@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    //Layout = "_Simple";
}

<h1> @ViewData["Title"]</h1>


<strong>Vista parcial de MultiAlumnos</strong>


<partial name="ListaObjetoEscuela"></partial>
<p><strong>Fecha: @ViewBag.Fecha </strong> </p>