@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    //Layout = "_Simple";
}

<h1> @ViewData["Title"]</h1>


<strong>Vista parcial de MultiAsignatura</strong>

@foreach (var asignatura in Model)
{
    <partial name="ListaObjetoEscuela"></partial>
}
@* todo-txt : se envía el modelo asignatura a la vista
    parcial ObjetoEscuelaSimple *@

<p><strong>Fecha: @ViewBag.Fecha </strong> </p>