@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    //Layout = "_Simple";
}

<h1> @ViewData["Title"]</h1>


<strong>Vista parcial de MultiAsignatura</strong>

@foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaSimple" model="asignatura"></partial>
}
@* todo-txt : en la vista parcial se introdujo model="asigntura" ya que la variable que contiene los valores de la vista
    parcial ObjetoEscuelaSimple *@

<p><strong>Fecha: @ViewBag.Fecha </strong> </p>