@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    //Layout = "_Simple";
}

<h1> @ViewData["Title"]</h1>


<strong>Vista parcial de MultiAsignatura</strong>


<partial name="ListaObjetoEscuela"></partial>



<p><strong>Fecha: @ViewBag.Fecha </strong> </p>